.openSideList {
    display              : flex;
    align-items          : center;
    /* justify-content   : space-between; */
    font-family          : Arial, Helvetica, sans-serif;
    font-size            : 11px;
    color                : #b3b3b3;
    height               : 40px;
    cursor               : pointer;
    transition           : 200ms color ease-in;
    /* margin-left       : 10px; */
}

.openSideList:hover {
    color: #fff;
}

.openSideList__icon {
    margin-left : 10px;
    margin-right: 10px;
}