.splash-container {
    background-color     : #2941AB;
    background-image     : url("https://www-growth.scdn.co/static/home/bursts.svg");
    background-size      : 175%;
    background-position-x: 46%;
    background-position-y: 4%;
    min-height           : 846px;
    font-family          : Arial, Helvetica, sans-serif;
}

.splash-text {
    color: #1ED760;
}

.splash-button-div {
    font-size                  : 14px;
    line-height                : 20px;
    font-weight                : 700;
    text-decoration            : none;
    box-sizing                 : border-box;
    -webkit-tap-highlight-color: transparent;
    background-color           : transparent;
    border                     : 0px;
    border-radius              : 500px;
    display                    : inline-block;
    position                   : relative;
}

.inner-button {
    background-color: #1ed760;
    color           : #2941AB;
    border-radius   : 500px;
    font-size       : inherit;
    padding         : 14px 32px;
}