.card__component {
    display          : flex;
    /* flex-direction: column; */

}

/* .openResults__card {
    background-color: hsla(0deg, 0%, 100%, 10%);
    border-radius   : 2%;
    width           : 200px;
    height          : 320px;
    margin          : 10px;
    padding         : 10px;
    transition      : 200ms color ease-in;
}

.openResults__card:hover {
    background-color: #444444;
} */

.card-container {
    background-color: hsla(0deg, 0%, 100%, 10%);
    border-radius   : 2%;
    width           : 200px;
    height          : 320px;
    margin          : 10px;
    padding         : 10px;
    transition      : 200ms color ease-in;
}

.card-container:hover {
    background-color: #282828;
}

.card-image {
    /* border    : 1px yellow solid; */
    margin       : 10px;
    height       : 180px;
    width        : 180px;
    /* object-fit: contain; */
}

.card-player {
    border     : 1px blue solid;
    width      : 25px;
    height     : 25px;
    align-items: center;
}

.fa {
    z-index         : 1;
    background-color: white;
}