.search {
    padding: 5px;
}

.search__container {
    padding: 5px;
}

.search__select {
    margin: 5px;
}

.search__input {
    margin: 5px;

}

.card__grid {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content      : flex-start;
    width                : 100%;
}